<html xmlns:th="http://www.thymeleaf.org">

<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js">
	
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

</head>

<div class="main">
	<div class="inner">
		<div class="summaryDiv">
			<h1 class="summaryH1">스마트팜 개요</h1>
			<div class="summaryBox">
				PC나 모바일로 모니터링하며, 원격으로 농장을 관리할수 있다, 그리고<br>
				적은 노동력으로 생산성을 높이고 고품질의 작물을 생산하는 방법이다.
				
			</div>
		<div class="summaryDiv">
			<h1 class="summaryH1">스마트팜 목적</h1>
			<div class="summaryBox">
				생산성 향상 , 편리성 등등			
			</div>
	</div>
</div>
</html>
