<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">
<head th:insert="/fragments/config.html">
<title>GREENTOPIA</title>


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

</head>
<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<div th:replace="/fragments/header.html"></div>

		<!-- Menu -->
		<div th:replace="/fragments/nav.html"></div>

		<!-- Main -->
		<div th:replace="@{/contents/{menu}.html(menu=${menu})}"></div>


		<!-- Footer -->
		<div th:replace="/fragments/footer.html"></div>

	</div>

	<!-- Scripts -->
	<div th:replace="/fragments/script.html"></div>

	<!-- Custom Scripts -->
	

</body>
</html>