<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	//구글차트 
	google.charts.load('current', {
		'packages' : [ 'corechart' ]
	});
	google.charts.setOnLoadCallback(lsudrawChart);
	google.charts.setOnLoadCallback(hmdrawChart);
	google.charts.setOnLoadCallback(hkjdrawChart);
	function lsudrawChart() {
		var lsudata = new google.visualization.DataTable();
		lsudata.addColumn('string', 'Name');
		lsudata.addColumn('number', '비중');
		lsudata.addRows([ [ '아두이노', 6 ], [ '웹', 2 ], [ '앱', 2 ] ]);
		var opt = {
			'title' : '이승욱',
			pieSliceText : 'label',
			legend : 'none',
			colors:['lightcoral','skyblue','mediumaquamarine','palevioletred','darkgray']
		};
		var lsuchart = new google.visualization.PieChart(document
				.getElementById('lsuChart'));
		lsuchart.draw(lsudata, opt);
	}

	function hmdrawChart() {
		var hmdata = new google.visualization.DataTable();
		hmdata.addColumn('string', 'Foods');
		hmdata.addColumn('number', '비중');
		hmdata.addRows([ [ '앱', 10 ]]);
		var opt = {
			'title' : '이혜미',
			'width' : 300,
			'height' : 300,
			pieSliceText : 'label',
			legend : 'none',
			colors:['skyblue']
		};
		var hmchart = new google.visualization.PieChart(document
				.getElementById('hmChart'));
		hmchart.draw(hmdata, opt);
	}

	function hkjdrawChart() {
		var hkjdata = new google.visualization.DataTable();
		hkjdata.addColumn('string', 'Foods');
		hkjdata.addColumn('number', '비중');
		hkjdata.addRows([ [ '웹', 10 ]]);
		var opt = {
			'title' : '한광진',
			'width' : 300,
			'height' : 300,
			pieSliceText : 'label',
			legend : 'none',
			colors:['mediumaquamarine']
		};
		var hkjchart = new google.visualization.PieChart(document
				.getElementById('hkjChart'));
		hkjchart.draw(hkjdata, opt);
	}
</script>
</head>
<body>
	<div class="main">
		<div class="inner">
			<div class="sirclechartBox">
			<div class="lsuChart" id="lsuChart"></div>
			<div class="hmChart" id="hmChart"></div>
			<div class="hkjChart" id="hkjChart"></div>
			</div>
		</div>
	</div>
</body>
</html>

